<table><tr>
 <span class="button" onclick="create(9,9,10)"> Easy</span>
 <span class="button" onclick="create(10,16,40)"> Medium</span>
 <span class="button" onclick="create(30,30,99)"> Hard</span>
 <td id="bigtable"><span id="board">&nbsp;</span></td>
 </tr></table>
