<%= stylesheet_link_tag 'game' %>
<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'timer.js' %>

<audio id="bomb">
  <source src="bomb.wav" type="audio/wav">
</audio>

<table><tr>
	<span class="button" onclick="create(9,9,16, 'easy')"> Easy</span>
	<span class="button" onclick="create(10,16,40, 'medium')"> Medium</span>
	<span class="button" onclick="create(30,30,99, 'hard')"> Hard</span>
	<span class="button" onclick="custom()"> Custom</span>
	<span class="button" onclick="hint()"> Hint</span>
	<span class="button" onclick="bombSound()"> sound </span>

<div id="overlay" class="overlay">
	<div id="win" class="panel">
		<h1>You win, good job!</h1>
	</div>

	<div id="lose" class="panel">
		<h1>Sorry, you lost!</h1>

		<span class="button" onclick="create(10,16,40, 'medium')">Play Again</span>
		<span class="button"><a href="/">Home</a></span>
	</div>

	<td id="bigtable"><span id="board">&nbsp;</span></td>
</div>
</tr></table>

<div id='time'>0</div>
