<table><tr>
 <span class="ta" onclick="create(60,40,40)"> Easy</span>
 <span class="ta" onclick="create(70,50,50)"> Medium</span>
 <span class="ta" onclick="create(80,60,60)"> Hard</span>
 <td id="bigtable"><span id="board">&nbsp;</span></td>
 </tr></table>
