body {
  text-align: center;
}


.closed {
  font-size: 11px;
 	background-color: #00FFFF;
 	width: 17px;
 	height: 17px;
 	margin: 0.5px;

 	&.hint {
 		background-color: yellow;
 	}
 }

.open {
  font-size: 11px;
	background-color: #061994;
 	width: 17px;
 	height: 17px;
 	margin: 0.5px;
 	color: white;
}

.mine {
	background-color: red;
 	width: 17px;
 	height: 17px;
 	margin: 0.5px;
}

td {
 	padding: 0 !important;
}

table {
 	width: initial;
  margin: 0 auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
 }

.overlay {
	display: none;
  background-color: rgba(1, 1, 1, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.panel {
  text-align: center;
	display: none;
	width: 300px;
	height: 330;
	margin: 15% auto;
}

a {
  &:hover {
    background: none;
  }
}
