.closed {
 	background-color: #00FFFF;
 	width: 20px;
 	height: 20px;
 	margin: 0.5px;

 	&.hint {
 		background-color: yellow;
 	}
 }

.open {
	background-color: #061994;
 	width: 20px;
 	height: 20px;
 	margin: 0.5px;
 	color: white;
}

.mine {
	background-color: red;
 	width: 20px;
 	height: 20px;
 	margin: 0.5px;
}

td {
 	padding: 0 !important;
}

table {
 	width: initial;
 	margin-bottom: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
 }

.overlay {
	display: none;
  background-color: rgba(1, 1, 1, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.panel {
	display: none;
	width: 50%;
	height: 50%;
	margin: 20% auto;
}
